<ul id="menu">
    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
    <li>@Html.ActionLink("Teachers", "Index", "Teachers")</li>
    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
</ul>

