@{
    ViewBag.Title = "About us";
}

<h2>About us</h2>
<p>
    Emily's Academy has been helping people learn English since 2012. Started by Emily Von Garnet, 
    the academy has been a reference for worldwide academies and has won several awards for being one of the top 
    elite academies in the world.
</p>
